In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import matplotlib.pyplot as pl
import pandas as pd
import numpy as np
import seaborn as sns
import math

In [3]:
! ls /content/drive/MyDrive/vis_data/

games.csv		 plays.csv.zip	       tracking2020.csv.zip
PFFScoutingData.csv.zip  tracking2018.csv.zip
players.csv		 tracking2019.csv.zip

In [4]:
! cp /content/drive/MyDrive/vis_data/tracking2018.csv.zip .
! cp /content/drive/MyDrive/vis_data/tracking2019.csv.zip .
! cp /content/drive/MyDrive/vis_data/tracking2020.csv.zip .
! unzip tracking2018.csv.zip
! unzip tracking2019.csv.zip
! unzip tracking2020.csv.zip

Archive:  tracking2018.csv.zip
  inflating: tracking2018.csv
Archive:  tracking2019.csv.zip
  inflating: tracking2019.csv
Archive:  tracking2020.csv.zip
  inflating: tracking2020.csv

In [6]:
! cp /content/drive/MyDrive/vis_data/plays.csv.zip . 
! unzip plays.csv.zip

Archive:  plays.csv.zip
  inflating: plays.csv

In [7]:
tracking2018 = pd.read_csv('tracking2018.csv')
tracking2019  = pd.read_csv('tracking2019.csv')
tracking2020 = pd.read_csv('tracking2020.csv')
plays = pd.read_csv('plays.csv')

In [8]:
df_temp = pd.DataFrame(plays.groupby(['possessionTeam','specialTeamsPlayType']).kickLength.sum())
df_temp2 = pd.DataFrame(plays.groupby(['possessionTeam','specialTeamsResult']).kickLength.sum())
df_temp3= pd.DataFrame(plays.groupby(['possessionTeam','specialTeamsPlayType', 'specialTeamsResult']).sum()).reset_index()
df_temp=df_temp.fillna(0)

In [9]:
df_temp3.head()

,possessionTeam,specialTeamsPlayType,specialTeamsResult,gameId,playId,quarter,down,yardsToGo,kickerId,kickBlockerId,yardlineNumber,penaltyYards,preSnapHomeScore,preSnapVisitorScore,kickLength,kickReturnYardage,playResult,absoluteYardlineNumber
0,ARI,Extra Point,Kick Attempt Good,199913592206,216796,246,0,0,4039745.0,0.0,1490,5.0,1297,1372,0.0,0.0,0,4990
1,ARI,Extra Point,Kick Attempt No Good,6057326729,4081,5,0,0,135111.0,0.0,45,0.0,22,33,0.0,0.0,0,145
2,ARI,Field Goal,Blocked Kick Attempt,4040132527,6545,7,8,24,74911.0,89483.0,45,0.0,25,27,0.0,0.0,-59,127
3,ARI,Field Goal,Kick Attempt Good,121156388532,132800,148,231,446,2505357.0,0.0,1049,0.0,557,710,2131.0,0.0,0,3563
4,ARI,Field Goal,Kick Attempt No Good,26249364708,33434,36,47,88,521950.0,0.0,384,0.0,161,198,618.0,0.0,-104,834

In [10]:
print(df_temp3.specialTeamsResult.unique().tolist())

['Kick Attempt Good', 'Kick Attempt No Good', 'Blocked Kick Attempt', 'Muffed', 'Out of Bounds', 'Return', 'Touchback', 'Blocked Punt', 'Downed', 'Fair Catch', 'Non-Special Teams Result', 'Kickoff Team Recovery']

In [11]:
print(df_temp3.specialTeamsPlayType.unique().tolist())

['Extra Point', 'Field Goal', 'Kickoff', 'Punt']

In [12]:
df_temp3.to_csv('grouped_kickLength.csv', encoding='utf-8', index=False)

In [13]:
del df_temp
del df_temp3
del df_temp2

In [14]:
df_temp = pd.DataFrame(plays.groupby(['possessionTeam','specialTeamsPlayType']).kickReturnYardage.sum())
df_temp2 = pd.DataFrame(plays.groupby(['possessionTeam','specialTeamsResult']).kickReturnYardage.sum())
df_temp3= pd.DataFrame(plays.groupby(['possessionTeam','specialTeamsPlayType', 'specialTeamsResult']).sum()).reset_index()
df_temp=df_temp.fillna(0)

In [15]:
df_temp3.head()

,possessionTeam,specialTeamsPlayType,specialTeamsResult,gameId,playId,quarter,down,yardsToGo,kickerId,kickBlockerId,yardlineNumber,penaltyYards,preSnapHomeScore,preSnapVisitorScore,kickLength,kickReturnYardage,playResult,absoluteYardlineNumber
0,ARI,Extra Point,Kick Attempt Good,199913592206,216796,246,0,0,4039745.0,0.0,1490,5.0,1297,1372,0.0,0.0,0,4990
1,ARI,Extra Point,Kick Attempt No Good,6057326729,4081,5,0,0,135111.0,0.0,45,0.0,22,33,0.0,0.0,0,145
2,ARI,Field Goal,Blocked Kick Attempt,4040132527,6545,7,8,24,74911.0,89483.0,45,0.0,25,27,0.0,0.0,-59,127
3,ARI,Field Goal,Kick Attempt Good,121156388532,132800,148,231,446,2505357.0,0.0,1049,0.0,557,710,2131.0,0.0,0,3563
4,ARI,Field Goal,Kick Attempt No Good,26249364708,33434,36,47,88,521950.0,0.0,384,0.0,161,198,618.0,0.0,-104,834

In [16]:
df_temp3.to_csv('grouped_kickReturnYardage.csv', encoding='utf-8', index=False)

# Create Punt return data set

extract all the punt returns from the plays data set.

In [20]:
punt_return = plays[(plays['specialTeamsResult'] == 'Return') & (plays['specialTeamsPlayType'] == 'Punt')]

In [18]:
# punt_return = plays[(plays['specialTeamsResult'] == 'Muffed') & (plays['specialTeamsPlayType'] == 'Kickoff')]

In [19]:
punt_return.head()

,gameId,playId,playDescription,quarter,down,yardsToGo,possessionTeam,specialTeamsPlayType,specialTeamsResult,kickerId,...,penaltyCodes,penaltyJerseyNumbers,penaltyYards,preSnapHomeScore,preSnapVisitorScore,passResult,kickLength,kickReturnYardage,playResult,absoluteYardlineNumber
383,2018091300,2768,J.Tucker kicks 37 yards from BAL 35 to CIN 28....,2,0,0,BAL,Kickoff,Muffed,39470.0,...,NaN,NaN,NaN,28,14,NaN,37.0,11.0,26,75
1177,2018092313,441,S.Martin kicks 53 yards from DET 35 to NE 12. ...,1,0,0,DET,Kickoff,Muffed,40113.0,...,NaN,NaN,NaN,3,0,NaN,58.0,18.0,40,45
1395,2018093004,4252,K.Fairbairn kicks 66 yards from HOU 35 to IND ...,4,0,0,HOU,Kickoff,Muffed,43846.0,...,NaN,NaN,NaN,23,31,NaN,66.0,12.0,50,75
1615,2018093011,3604,A.Rosas kicks 64 yards from NYG 35 to NO 1. T....,4,0,0,NYG,Kickoff,Muffed,43937.0,...,NaN,NaN,NaN,18,26,NaN,64.0,1.0,62,75
2215,2018101403,3914,K.Fairbairn kicks 73 yards from HOU 20 to BUF ...,4,0,0,HOU,Kickoff,Muffed,43846.0,...,NaN,NaN,NaN,20,13,NaN,73.0,4.0,67,30

Filter all columns that we will not need

In [21]:
punt_return = punt_return[['gameId', 'playId', 'returnerId',
       'kickLength', 'kickReturnYardage', 'playResult', 'penaltyYards']]

In [22]:
((punt_return.isna().sum())/punt_return.shape[0]).sort_values()

gameId               0.000000
playId               0.000000
kickLength           0.000000
playResult           0.000000
returnerId           0.000437
kickReturnYardage    0.003500
penaltyYards         0.822835
dtype: float64

In [23]:
punt_return = punt_return[(~punt_return.returnerId.isna())]

The missing values in kickReturnYardage might be reconstructed as

kickReturnYardage = kickLength - playResult + penaltyYards, (1)

where penaltyYards is often missing. It is very much possible though that penaltyYards is missing whenever there was no penalty or equivalently penaltyYards = 0.

In [24]:
punt_return['penaltyYards'] = punt_return['penaltyYards'].fillna(0)
1 - sum(punt_return['kickReturnYardage'] == punt_return['kickLength'] - punt_return['playResult'] + punt_return['penaltyYards']) / punt_return.shape[0]

0.015754923413566768

remove the rows with missing kickReturnYardage.

In [25]:
punt_return = punt_return[~punt_return.kickReturnYardage.isna()]

there are three punt returns (above) with two people returning the ball (a backward pass must have happened). We exclude these as speed and acceleration have a lesser/different meaning in such a play.

In [26]:
punt_return[punt_return['returnerId'].str.contains(';')]

,gameId,playId,returnerId,kickLength,kickReturnYardage,playResult,penaltyYards
2394,2018101410,2172,44029;46130,49.0,0.0,57,0.0
11195,2019112408,3869,44923;45555,49.0,-4.0,53,0.0
16750,2020110810,1270,46277;42094,62.0,0.0,-1,10.0

In [27]:
punt_return = punt_return[~punt_return['returnerId'].str.contains(';')]

make sure returnerId is a float as nflId in our tracking data set will also be a float.

In [28]:
punt_return['returnerId'] = punt_return['returnerId'].astype(float)

Tracking Data set

In [29]:
playIds = punt_return['playId'].unique()
gameIds = punt_return['gameId'].unique()
tracking2018 = tracking2018[(tracking2018.playId.isin(playIds)) & (tracking2018.gameId.isin(gameIds))]
tracking2019 = tracking2019[(tracking2019.playId.isin(playIds)) & (tracking2019.gameId.isin(gameIds))]
tracking2020 = tracking2020[(tracking2020.playId.isin(playIds)) & (tracking2020.gameId.isin(gameIds))]

we will examine the tracking data set and the columns needed for our research, but first we combine them.

In [30]:
tracking = tracking2018.append(tracking2019).append(tracking2020)
tracking = tracking[['s', 'a', 'nflId', 'gameId','playId', 'frameId', 'event']]
((tracking.isna().sum())/tracking.shape[0]).sort_values()

s          0.000000
a          0.000000
gameId     0.000000
playId     0.000000
frameId    0.000000
event      0.000000
nflId      0.043478
dtype: float64